<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Travel Bug</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div class="wrapper">
			<header>
				<h1>
					<a href="/">Travel Bug</a>
				</h1>
				<nav>
					{{#if loggedIn}}
					<a href="/travels">travels</a>
						<button id="logout" class="btn-no-style">logout</button>
					{{else}}
						<a href="/login">login</a>
					{{/if}}
				</nav>
			</header>
			<main>
				{{{body}}}
			</main>
			<footer>
				Happy Travels!
			</footer>
		</div>

		{{#if loggedIn}}
			<script src="/javascript/logout.js"></script>
		{{/if}}
	</body>

</html>