<div class="container-fluid">
  <div class="location-list d-flex flex-row flex-wrap justify-content-center">
    {{!-- <div class="col-sm-4"> --}}
      {{#each locations as |location|}}
      <div>
        {{> location-info location }}
      </div>
      {{/each}}
    </div>
  {{!-- </div> --}}
</div>
