<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="newuser-form">
  <div>
    <label for="username-newuser">username:</label>
    <input type="text" id="username-newuser" />
  </div>
  <div>
    <label for="email-newuser">email:</label>
    <input type="text" id="email-newuser" />
  </div>
  <div>
    <label for="password-newuser">password:</label>
    <input type="password" id="password-newuser" />
  </div>
  <div>
    <button type="submit">create account</button>
  </div>
</form>

<script src="/public/javascript/login.js"></script>