<div class="container">
  <div class="row">
	<form class="login-form col-sm-6">
		<h2 class="mb-3">User Login</h2>
		<div class="mb-3">
			<label for="email-login" class="form-label">Email:</label>
			<input
				type="text"
				class="form-control"
				id="email-login"
				placeholder="enter email here"
			/>
		</div>
		<div class="mb-3">
			<label for="password-login" class="form-label">Password:</label>
			<input
				type="password"
				class="form-control"
				id="password-login"
				placeholder="enter password here"
			/>
		</div>
		<div>
			<button class="btn btn-info" type="submit">login</button>
		</div>
	</form>

	<form class="newuser-form col-sm-6">
		<h2 class="mb-3">Create New Account</h2>
		<div class="mb-3">
			<label for="username-newuser" class="form-label">Username:</label>
			<input
				type="text"
				class="form-control"
				id="username-newuser"
				placeholder="enter username here"
			/>
		</div>
		<div class="mb-3">
			<label for="email-newuser" class="form-label">Email:</label>
			<input
				type="text"
				class="form-control"
				id="email-newuser"
				placeholder="enter email here"
			/>
		</div>
		<div class="mb-3">
			<label for="password-newuser" class="form-label">Password:</label>
			<input
				type="password"
				class="form-control"
				id="password-newuser"
				placeholder="enter password here"
			/>
		</div>
		<div class="mb-3">
			<button class="btn btn-info" type="submit">create account</button>
		</div>
	</form>
  </div>
</div>

<script src="/javascript/login.js"></script>