{{!-- render locations from location-info handlebar --}}
{{> location-info location }}


{{!-- conditionally render the comment form, if the user is logged in --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
    <button type="submit">add comment</button>
  </div>
</form>
  <form class="rating-form">
    <label for="star-rating">My Rating</label>
    <div id="star-rating"></div>
    <button type="submit" id="">Submit</button>
  </form>
{{/if}}

{{!-- render comments from comments handlebar --}}
{{> comments location.comments}}

{{!-- conditionally render the <script> elements --}}
{{#if loggedIn}}
{{!-- JQuery script --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{!-- Raty.js JQuery add-on --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.min.js"></script>
{{!-- public scripts --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/rate.js"></script>
<script></script>
{{/if}}