/* main page */
header {
    background-image: url("/assets/images/banner-pic.png");
    background-color:rgb(139, 215, 243) ;
	background-size: cover;
	background-position: center;
}
/* .jumbotron {
	background-image: url("/assets/images/banner-pic.png");
    background-color:rgb(139, 215, 243) ;
	background-size: cover;
	background-position: center;
} */

.main-title {
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a {
    text-decoration: none;
    justify-content: right;
}

/* login form */
