/* main page */
header {
    /* background-image: url("/assets/images/banner-pic.png"); */
    /* background-color:rgb(139, 215, 243) ; */
    background-image: linear-gradient(to right, rgb(10, 91, 145) , rgb(255, 255, 255));
	background-size: cover;
	background-position: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-title {
    text-decoration: none;
}
header nav {
    justify-content: right;
}

nav a {
    text-decoration: none;
}

/* homepage */
/* .location-list {
    text-decoration: none;
} */

ul {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
