/* main page */
header {
	background-image: linear-gradient(
		to right,
		rgb(10, 91, 145),
		rgb(122, 214, 122)
	);
	background-size: cover;
	background-position: center;
	width: 100%;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1%;
}

.main-title {
	text-decoration: none;
	font-family: "Orbitron", sans-serif;
}

header img {
	max-width: 5rem;
	max-height: 5rem;
}

header nav {
	justify-content: right;
}

nav a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* location-info.handlebars */

#location-card {
	width: 30rem;
	min-height: 45rem;
}

.card-img-top {
	height: 20rem;
}

footer {
	text-decoration: none;
	font-family: "Orbitron", sans-serif;
	position: flxed;
	bottom: 0;
	width: 100%;
	min-height: 40px;
	background: rgb(10, 91, 145);
	padding: 10px;
}

@media screen and (max-width: 500px) {
	/* location-info.handlebars */
	#location-card {
		width: 20rem;
	}

	.card-img-top {
		height: 13rem;
	}
}
